* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-container {
    color:white;
    background-color: rgb(51, 51, 51);
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
}

.about-container {
    width: 1400px;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;

}
.about-item {
    background-color:darkgrey;
    width: 500px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.photo {
    width: 450px;
}

body {
    margin: 0;
    background-color: grey;
}


.item:hover {
    color: black;

}


