ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: skyblue;
    border: 1px solid rgb(70,67,67);
}

body {
    margin: 0;
}

ul li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 1px solid rgb(70, 67, 67);
}

li a:hover {
    background-color: #063bce;
}

.active {
    background-color: #063bce;
}

li a.active {
    background-color: #063bce;
    color: white;
}
/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    height: 100%;
    position: fixed;
    overflow: auto;
}

li a {
    text-align: center;
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #555;
    color: white;
}

li a.active {
    background-color: #04AA6D;
    color: white;
} */
